In [6]:
import pandas as pd
import numpy as np

header_list =["Age","Workclass","Fnlwgt","Education","Education-num",
              "Marital-status","Occupation","Relationship","Race","Sex",
              "Capital-gain","Capital-loss","Hours-per-week","Native-country","Income"]

In [22]:
training_file = pd.read_csv("adult.data.csv", header=None, names=header_list)
training_file = training_file[["Age","Workclass","Fnlwgt","Education","Education-num",
              "Marital-status","Occupation","Relationship","Race","Sex",
              "Capital-gain","Capital-loss","Hours-per-week","Native-country","Income"]].apply(lambda x:x).replace(" ?", np.nan)
print(training_file.head(16))
training_file.to_csv("adult_training_file.csv",index=False)

    Age          Workclass  Fnlwgt      Education  Education-num  \
0    39          State-gov   77516      Bachelors             13
1    50   Self-emp-not-inc   83311      Bachelors             13
2    38            Private  215646        HS-grad              9
3    53            Private  234721           11th              7
4    28            Private  338409      Bachelors             13
5    37            Private  284582        Masters             14
6    49            Private  160187            9th              5
7    52   Self-emp-not-inc  209642        HS-grad              9
8    31            Private   45781        Masters             14
9    42            Private  159449      Bachelors             13
10   37            Private  280464   Some-college             10
11   30          State-gov  141297      Bachelors             13
12   23            Private  122272      Bachelors             13
13   32            Private  205019     Assoc-acdm             12
14   40            Private  121772      Assoc-voc             11
15   34            Private  245487        7th-8th              4

            Marital-status          Occupation    Relationship  \
0            Never-married        Adm-clerical   Not-in-family
1       Married-civ-spouse     Exec-managerial         Husband
2                 Divorced   Handlers-cleaners   Not-in-family
3       Married-civ-spouse   Handlers-cleaners         Husband
4       Married-civ-spouse      Prof-specialty            Wife
5       Married-civ-spouse     Exec-managerial            Wife
6    Married-spouse-absent       Other-service   Not-in-family
7       Married-civ-spouse     Exec-managerial         Husband
8            Never-married      Prof-specialty   Not-in-family
9       Married-civ-spouse     Exec-managerial         Husband
10      Married-civ-spouse     Exec-managerial         Husband
11      Married-civ-spouse      Prof-specialty         Husband
12           Never-married        Adm-clerical       Own-child
13           Never-married               Sales   Not-in-family
14      Married-civ-spouse        Craft-repair         Husband
15      Married-civ-spouse    Transport-moving         Husband

                   Race      Sex  Capital-gain  Capital-loss  Hours-per-week  \
0                 White     Male          2174             0              40
1                 White     Male             0             0              13
2                 White     Male             0             0              40
3                 Black     Male             0             0              40
4                 Black   Female             0             0              40
5                 White   Female             0             0              40
6                 Black   Female             0             0              16
7                 White     Male             0             0              45
8                 White   Female         14084             0              50
9                 White     Male          5178             0              40
10                Black     Male             0             0              80
11   Asian-Pac-Islander     Male             0             0              40
12                White   Female             0             0              30
13                Black     Male             0             0              50
14   Asian-Pac-Islander     Male             0             0              40
15   Amer-Indian-Eskimo     Male             0             0              45

    Native-country  Income
0    United-States   <=50K
1    United-States   <=50K
2    United-States   <=50K
3    United-States   <=50K
4             Cuba   <=50K
5    United-States   <=50K
6          Jamaica   <=50K
7    United-States    >50K
8    United-States    >50K
9    United-States    >50K
10   United-States    >50K
11           India    >50K
12   United-States   <=50K
13   United-States   <=50K
14             NaN    >50K
15          Mexico   <=50K

In [23]:
test_file = pd.read_csv("adult.test.csv", header=None, names=header_list)
print(test_file.head())
test_file = test_file.drop(index=0)
print("Dropped wrong row")
test_file = test_file[["Age","Workclass","Fnlwgt","Education","Education-num",
              "Marital-status","Occupation","Relationship","Race","Sex",
              "Capital-gain","Capital-loss","Hours-per-week","Native-country","Income"]].apply(lambda x:x).replace(" ?", np.nan)
print(test_file.head())
test_file.to_csv("adult_test_file.csv",index=False)

                    Age   Workclass    Fnlwgt      Education  Education-num  \
0  |1x3 Cross validator         NaN       NaN            NaN            NaN
1                    25     Private  226802.0           11th            7.0
2                    38     Private   89814.0        HS-grad            9.0
3                    28   Local-gov  336951.0     Assoc-acdm           12.0
4                    44     Private  160323.0   Some-college           10.0

        Marital-status          Occupation Relationship    Race    Sex  \
0                  NaN                 NaN          NaN     NaN    NaN
1        Never-married   Machine-op-inspct    Own-child   Black   Male
2   Married-civ-spouse     Farming-fishing      Husband   White   Male
3   Married-civ-spouse     Protective-serv      Husband   White   Male
4   Married-civ-spouse   Machine-op-inspct      Husband   Black   Male

   Capital-gain  Capital-loss  Hours-per-week  Native-country   Income
0           NaN           NaN             NaN             NaN      NaN
1           0.0           0.0            40.0   United-States   <=50K.
2           0.0           0.0            50.0   United-States   <=50K.
3           0.0           0.0            40.0   United-States    >50K.
4        7688.0           0.0            40.0   United-States    >50K.
Dropped wrong row
  Age   Workclass    Fnlwgt      Education  Education-num  \
1  25     Private  226802.0           11th            7.0
2  38     Private   89814.0        HS-grad            9.0
3  28   Local-gov  336951.0     Assoc-acdm           12.0
4  44     Private  160323.0   Some-college           10.0
5  18         NaN  103497.0   Some-college           10.0

        Marital-status          Occupation Relationship    Race      Sex  \
1        Never-married   Machine-op-inspct    Own-child   Black     Male
2   Married-civ-spouse     Farming-fishing      Husband   White     Male
3   Married-civ-spouse     Protective-serv      Husband   White     Male
4   Married-civ-spouse   Machine-op-inspct      Husband   Black     Male
5        Never-married                 NaN    Own-child   White   Female

   Capital-gain  Capital-loss  Hours-per-week  Native-country   Income
1           0.0           0.0            40.0   United-States   <=50K.
2           0.0           0.0            50.0   United-States   <=50K.
3           0.0           0.0            40.0   United-States    >50K.
4        7688.0           0.0            40.0   United-States    >50K.
5           0.0           0.0            30.0   United-States   <=50K.